<template name="Prices">
  <div class="block">
    <div class="container text-center">
      <div class="row m-b-md m-b-lg-xs">
        <div class="col-xs-12 text-center m-b-lg">
          <h1 class="block-title c-green m-b-0">{{_ "landing.prices.title.muted"}}</h1>
        </div>
        <div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 m-b-md">
          <h3  class="m-t-0 c-light-black">
            {{_ "landing.prices.title.line1"}} <b>{{_ "landing.prices.title.line1bold"}}</b>. <br class="hidden-xs">
            {{_ "landing.prices.title.line2A"}} <b>{{_ "landing.prices.title.line2boldA"}}</b> {{_ "landing.prices.title.line2B"}} <b>{{_ "landing.prices.title.line2boldB"}}</b>.</h3>
        </div>
      </div>

      {{> TypesRow}}
      <hr id="precios">
      {{> PricesRow}}


    </div>
  </div>
</template>

<template name="PricesRow">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center m-b-md">
      <h2 class="c-cream title-style">{{_ "landing.prices.prices.title"}}</h2>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-8 col-md-offset-2">
      <div class="row pricing-table">
        <div class="col col-sm-4 m-b-lg-xs">
          <div class="pricing-item">
            <h1 class="c-turquoise pricing-price">60</h1>
            <h3>{{_ "landing.prices.prices.precio60"}}</h3>
          </div>
        </div>
        <div class="col col-sm-4 m-b-lg-xs">
          <div class="pricing-item">
            <h1 class="c-turquoise pricing-price">90</h1>
            <h3>{{_ "landing.prices.prices.precio90"}}</h3>
          </div>
        </div>
        <div class="col col-sm-4">
          <div class="pricing-item">
            <h1 class="c-turquoise pricing-prenatal">Prenatal</h1>
            <h3>{{_ "landing.prices.prices.precio90"}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="TypesRow">
  <div class="row">
      <div class="clearfix"></div>
      <div class="col-sm-6 col-md-6">
        <ul class="featured-list">
          <li class="m-b-lg m-b-0-sm">
            <div class="featured-list-icon text-primary">
              <img src="/img/1relajante.png">
            </div>
            <h2 class="block-subtitle c-turquoise massage-type" data-type="relax"><a href="{{pathFor 'masaje-relajante'}}">{{_ "landing.prices.types.title1"}}</a></h2>
            <p class="featured-list-icon-text">
              {{_ "landing.prices.types.lead1"}}
            </p>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <ul class="featured-list">
          <li class="m-b-lg m-b-0-sm">
            <div class="featured-list-icon text-primary">
              <img src="/img/2descontracturante.png">
            </div>
            <h2 class="block-subtitle c-turquoise massage-type" data-type="decontracting"><a href="{{pathFor 'masaje-descontracturante'}}">{{_ "landing.prices.types.title2"}}</a></h2>
            <p class="featured-list-icon-text">
              {{_ "landing.prices.types.lead2"}}
            </p>
          </li>
        </ul>
      </div>
  

    </div>

    <div class="row">

    <div class="clearfix visible-sm-block"></div>
    <div class="col-sm-6 col-md-6">
      <ul class="featured-list">
        <li class="m-b-lg m-b-0-sm">
          <div class="featured-list-icon text-primary">
            <img src="/img/3deportivo.png">
          </div>
          <h2 class="block-subtitle c-turquoise massage-type" data-type="sport"><a href="{{pathFor 'masaje-deportivo'}}">{{_ "landing.prices.types.title3"}}</a></h2>
          <p class="featured-list-icon-text">
            {{_ "landing.prices.types.lead3"}}
          </p>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-6">
      <ul class="featured-list">
        <li class="m-b-lg m-b-0-sm">
          <div class="featured-list-icon text-primary">
            <img src="/img/4prenatal.png">
          </div>
          <h2 class="block-subtitle c-turquoise massage-type" data-type="decontracting"><a href="{{pathFor 'masaje-prenatal'}}">{{_ "landing.prices.types.title4"}}</a></h2>
          <p class="featured-list-icon-text">
            {{_ "landing.prices.types.lead4"}}
          </p>
        </li>
      </ul>
    </div>

  </div>

    
</template>
