<template name="HeaderLandingLinks">
  <li><a href="{{pricesLink}}" class="{{#if routeIsHome}}scroll-to{{/if}}">{{_ "landing.navbar.prices"}}</a></li>
  <li><a href="{{pathFor 'faq'}}" class="scroll-top">{{_ "landing.navbar.faq"}}</a></li>
  <li><a href="{{pathFor 'admin'}}" class="scroll-top">{{_ "landing.navbar.logIn"}}</a></li>
  <li><a href="{{pathFor 'book'}}" class="highlight scroll-top">{{_ "general.bookNow"}}</a></li>
  <li><a href="#" class="">English</a></li>
</template>
