<template name="HeaderLandingMobile">
  <div class="stage-shelf stage-shelf-right hidden landing-header-mobile" id="sidebar">
    <div class="text-xs-center m-b">
      <img src="/img/logosup.png">
    </div>
    <ul class="nav nav-bordered nav-stacked">
      {{> HeaderLandingLinks}}
    </ul>
  </div>
</template>
