// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
	padding-top: 20px;
	padding-bottom: 20px;
	// background-color: $light-green;
	margin-bottom: -20px;
	.logo {
		max-height: 50px;
		@include bp(phone) {
			margin-bottom: 10px;
		}
	}
	.col-sm-3 {
		@include bp(tablet) {
			height: 50px;
			.provider-logo {
				max-height: 100%;
			}
		}
		@include bp(phone) {
			.provider-logo {
				max-height: 30px;
			}
		}
	}
	.col-sm-6 {
		@include bp(tablet) {
			height: 50px;
			position: relative;
			p {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
